.color1 {color: #002d41;}
.color2 {color: #005d9e;}
.color3 {color: #ff6153;}
.color4 {color: #ffc462;}
.color5 {color: #ffffaa;}



.color1 {color: #102a49;}
.color2 {color: #0c537d;}
.color3 {color: #088cb9;}
.color4 {color: #03d5f8;}
.color5 {color: #0ffff8;}



.color1 {color: #712b50;}
.color2 {color: #9b3556;}
.color3 {color: #d94e63;}
.color4 {color: #ff8379;}
.color5 {color: #ffc888;}


.color1 {color: #002717;}
.color2 {color: #005477;}
.color3 {color: #ff8747;}
.color4 {color: #ffbf46;}
.color5 {color: #fff25e;}


.color1 {color: #00213b;}
.color2 {color: #00456b;}
.color3 {color: #0076a4;}
.color4 {color: #00b5e4;}
.color5 {color: #00ffff;}